.card {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  padding: 1.25rem;
  border-radius: 30px;
}

.poster {
  border-radius: 0.75rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 50%;
  align-items: center;
  --tw-text-opacity: 1;
  color: rgb(9 9 11 / var(--tw-text-opacity));
}

.role {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(24 24 27 / var(--tw-text-opacity));
}

.salary {
  align-items: center;
  display: flex;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(82 82 91 / var(--tw-text-opacity));
}
