.inputs {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 50px;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}

.dropin {
  width: 11rem;
  border-width: 1px;
  border-color: rgb(173, 162, 162);
  border-radius: 5px;
  padding: 5px;
}
